@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.theatre-heading{
  position: absolute;
  bottom: 0;
  padding: 5px;
  margin-left:20px;
}

.banner-image{
   width: 100%;
   height: 400px;
   background-position: center top;
   background-repeat: no-repeat;
   background-size:cover;
   overflow-x: hidden;
   word-wrap: break-word;
}

.movie-name{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 4px 4px 8px black;
  font-size: 50px;
  color:	white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.star-checked{
  color:#FFDF00;
  font-size: 30px;
}

.theatre-poster-rating-box{
  padding: 10px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-right: 40px;
  text-shadow: 2px 2px black;
}

.movie-overview{
  font-family: 'Abel', sans-serif;
  width: 60%;
  text-shadow: 2px 2px 4px black;
  color: #caffff;
  overflow-x: hidden;
  word-wrap: break-word;

}

.popularity-bar-block{
  margin-top:10px;
}

.popularity-bar-block span{
  margin-top: 30px;
  color: white;
  font-weight: 900;
  text-shadow: 0px 0px 20px #00a8e1;
}

.popularity-bar{
  max-width: 60px;
  padding: 10px;
  margin: 0px 0px 0px 10px;
}
