body {
  animation: fadeIn 4s;
  padding: 20px !important;
}

.carousel {
  display:flex;
  flex-direction: row;
  width: 350px;
}

.carousel-button {

  font-family: monospace;
  font-size: 50px;
  margin-top: 70px;
  border-radius: 10%;
  padding-top: -20px;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel > div {
background-color: #8ca0ff;
width: 120px;
height: 120px;
}

.selected-year {

  font-size: 60px;
  padding: 20px;
  font-weight: lighter;
  margin: 0px 0px 0px 0px;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  flex-grow: 1
}

.fadeInUp{
animation: fadeInUp 0.25s ;
}

.fadeInDown{
animation: fadeInDown 0.25s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
